body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0px;
  padding: 0px;
  /* outline: 1px dotted #f00; */
  color: #2a2a2a;
  font-family: 'Roboto';
}

a {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}
